<div id="bloc-bas">
      <div id="bas-logos" >
        <div id="b-bas-logos">
	  <a href="http://www.europa.eu/" target="_blank" title="Union européenne"><img class="bas-logos-picto" src="http://www.picardie-nature.org/deco/picto_europe.png"/></a>
	  <a href="http://www.developpement-durable.gouv.fr/" target="_blank" title="Ministère de l'Écologie, de l'Énergie, du Développement durable et la Mer"><img class="bas-logos-picto" src="http://www.picardie-nature.org/deco/picto_minec.png"/></a>
	  <a href="http://www.picardie.fr/" target="_blank" title="Conseil Régional de Picardie"><img class="bas-logos-picto" src="http://www.picardie-nature.org/deco/picto_crp.png"/></a>
	  <a href="http://www.cg02.fr/" target="_blank" title="Conseil Général de l'Aisne"><img class="bas-logos-picto" src="http://www.picardie-nature.org/deco/picto_cg02.png"/></a>
<!--	  <a href="http://www.cg60.fr/" target="_blank" title="Conseil Général de l'Oise"><img class="bas-logos-picto" src="deco//picto_cg60.png"/></a> -->
	  <a class="cg80" href="http://www.cg80.fr/" target="_blank" title="Conseil Général de la Somme"><img class="bas-logos-picto-cg80" src="http://www.picardie-nature.org/deco/picto_cg80.png"/></a>
	  <a href="http://www.amiens.fr/" target="_blank" title="Amiens Métropole"><img class="bas-logos-picto" src="http://www.picardie-nature.org/deco/picto_am.png"/></a>
	</div>
      </div>

      <div id="b-bas-1">
        <div id="b-bas-fne">
          <a href="http://www.fne.asso.fr/"><img src="http://www.picardie-nature.org/deco/mb_fne.png" alt="Membre France Nature Environnement" /></a>
        </div>
        <div id="b-bas-eas-cont">
        <span id="b-bas-eas">
          &Eacute;TUDIER - AGIR - SENSIBILISER
        </span>
        </div>
      </div>
      
      <div id="b-bas-2">&nbsp;</div>
      
      <div id="b-bas-3">
        <a href="http://www.picardie-nature.org/spip.php?page=backend">Flux RSS</a>
        |
        <a href="http://www.picardie-nature.org/spip.php?rubrique106">Newsletter</a>
        |
        <a href="http://www.picardie-nature.org/spip.php?article24">Contact</a>
        |
        <a href="http://www.picardie-nature.org/spip.php?article1053">Mentions légales</a>
      </div>
      
      <div id="b-bas-4">
        <p>Association régionale de protection de la Nature et de l'Environnement<br/>
	membre de France Nature Environnement, agréée par les ministères de l'Écologie et de l'Éducation Nationale<br/>
	<b>Picardie Nature - 1 rue Cro&yuml; - BP 70010 - F80097 Amiens cedex 3 - Tél. 03 62 72 22 50<br/></p>
	<p>Association loi 1901 déclarée en préfecture le 4 mars 1970 - siège social : 1 rue Cro&yuml; - 80000 Amiens</p>
	<p><small>Siret 381 785 120 00019 - APE 9104Z</small></p>
      </div>
    </div><!-- bloc-bas -->
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.picardie-nature.org/" : "http://stats.picardie-nature.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.picardie-nature.org/piwik.php?idsite=5" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</div>
</body>
</html>
