<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Picardie Nature - Inscriptions aux stages naturalistes</title>
	<link rel="stylesheet" type="text/css" href="http://www.picardie-nature.org/deco/style_20120216.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="http://www.picardie-nature.org/deco/site.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="http://www.picardie-nature.org/deco/accueil.css" media="screen" />
</head>
<body>
<style>
.errorlist {
	background-color: #ffaaaa;
	color: white;
}
div.field {
	padding-bottom: 10px;
}
form { padding-left: 30px; }
.errorlist li { color: red; }
</style>
  <div id="globcont">
    <div id="bloc-haut">
      <div id="b-haut-1cont">
      <div id="b-haut-1">
      <div id="b-haut-1in">
      
        <div id="b-haut-logo">
		<a href="http://www.picardie-nature.org"><img src="http://www.picardie-nature.org/deco/logo_top.png" alt="Picardie Nature"/></a>
        </div>
        <div id="b-haut-pancartes">
        	<img src="http://www.picardie-nature.org/deco/pancartes_accueil.png" />
        </div>
      </div>
      </div>
      </div> 

      <div id="b-haut-2">&nbsp;</div>
    </div>

