{% include "head.html" %}
    <h1>Pré-inscription au stage d'initiation naturaliste</h1>
    <div style="float:right; background-color: white; opacity:0.8; padding: 20px;">
    	<h3>Les dates de stage par département</h3>
    	<p><b>Aisne (sud) :</b> 21 mars, 4 avril et 18 avril</p>
	<p><b>Oise (nord-ouest) : </b> 14 mars, 28 mars et 11 avril</p>
	<p><b>Somme (nord) : </b> 7 mars, 21 mars, et 4 avril</p>
    </div>
    <form method="post" action="/">{% csrf_token %}
    	{% for field in form %}
		<div class="field">
			<div class="field_title">{{field.label_tag}}</div>
			<div class="field_errors">{{field.errors}}</div>
			<div class="field_input">{{field}}</div>
		</div>
	{% endfor %}
	<input type="submit" value="Envoyer votre inscription"/>
    </form>
{% include "foot.html" %}
