{% include "head.html" %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <h1>Pré-inscription aux stages de perfectionnement et journées d'études 2014</h1>
	<p>(Vous pouvez choisir un ou plusieurs stages/journées d'études)</p>
    <form method="post" action="/">{% csrf_token %}
    	{% for field in form %}
		<div class="field">
			<div class="field_title">{{field.label_tag}}</div>
			<div class="field_errors">{{field.errors}}</div>
			<div class="field_input">{{field}}</div>
		</div>
	{% endfor %}
	<input type="submit" value="Envoyer votre inscription"/>
	<style>
		.desc {
			font-size: 13px;
			background-color: white;
			margin-left: 25px;
			padding: 10px;
			display:none;
		}
		.lieu {
			padding: 10px;
			font-style: italic;
			font-weight: bold;
		}
	</style>
	<script>
	var data = {
		stage_bd_5avril: {
			date: "05/04/2014",
			desc: "Vous êtes motivé pour mener, optimiser et valoriser des études de terrain, des suivis et inventaires ? Découvrez comment élaborer un protocole, coordonner des suivis bénévoles, valoriser vos résultats via nos outils : utilisation approfondie de Clicnat, logiciels de cartographie...",
			lieu: "Amiens 80"
		},
		stage_vipere_17mai: {
			date: "17/05/2014",
			desc: "L'objectif de cette journée est d'initier les participants à l'étude de la Vipère péliade : méthodes de recherche, comportement, écologie. C'est aussi l'occasion d'améliorer les connaissances sur la répartition et l'état des populations dans le Pays de Bray pour cette espèce menacée",
			lieu: "Pays de Bray 60"
		},
		stage_chant_24mai: {
			date: "24/05/2014",
			desc: "Vous désirez vous perfectionner en ornithologie et plus particulièrement sur le chant des oiseaux : cette journée est fait pour vous. Vous découvrirez le chant des espèces peuplant notre région et notamment nos forêts, vous vous familiariserez avec leur diversité et apprendrez à les reconnaître.",
			lieu: "secteur d’Ourscamps-Carlepont (60)"
		},
		stage_retz_31mai: {
			date: "31/05/2014",
			desc: "Participez à des inventaires faunistiques dans ce massif très riche mais encore mal connu qu'est la forêt de Retz. Des oiseaux aux insectes, en passant par les mammifères, une multitude de groupes sera inventoriée au cours de cette journée.",
			lieu: "forêt de Retz (02)"
		},
		inv_nat_7au9juin: {
			date: "7 au 9/06/2014",
			desc: "Naturalistes et autres curieux de nature, venez nous rejoindre pour mener des inventaires conséquents sur la faune sauvage : oiseaux, papillons, coccinelles, libellules, araignées, mammifères, amphibiens... Déroulement sur 3 jours (participation de 1 à 3 jours), hébergement prévu.",
			lieu: "Thiérache (nord-est du dpt 02)"
		},
		inv_nat_14juin_ours: {
			date: "14/06/2014",
			desc: "Venez découvrir les milieux et les espèces des rivières. Aux côtés des poissons, vivent d'autres habitants plus discrets : les insectes aquatiques, les insectes semi-aquatiques (passant le début de leur vie dans l'eau puis vivant dans l'air)... Atelier réservé aux habitants du sud de l'Aisne.",
			lieu: "forêt d’Ourscamps (60)"
		},
		stage_laon_21juin: {
			date: "21/06/2014",
			desc: "Le but de cette journée du réseau odonates est d'améliorer les connaissances sur les libellules fréquentant les marais du Laonnois. C'est aussi l'occasion d'approfondir vos connaissances sur la détermination de ces insectes, de mieux connaître leur comportement et leur écologie.",
			lieu: "secteur de Laon (02)"
		},
		stage_pap_comp_28juin: {
			date: "28/06/2014",
			desc: "Lors d'une petite balade en bord de rivière Marne, sur l'ancien chemin de halage, nous partirons à la découverte de la faune, oiseaux et libellules, qui vit en ces lieux. Le Martin-pêcheur, surnommé la flèche bleue, viendra certainement nous accompagner au fil de l'eau.",
			lieu: "forêt de Compiègne (60)"
		},
		stage_rel_plante_insect: {
			date: "05/07/2014",
			desc: "A l'occasion de Festivère, venez rencontrer les bénévoles de l'association et découvrir les actions menées pour la protection et la sensibilisation à la nature et à l'environnement. Le thème de Festivère 2014 est Mon quotidien, mon bien-être, ma maison. Profitez des ateliers et des sorties.",
			lieu: "lieu à définir (Somme ou Oise)"
		},
		stage_etud_orthop_26juillet: {
			date: "26/07/2014",
			desc: "Cette journée du réseau orthoptères s'adresse aux personnes souhaitant améliorer leurs connaissances sur les criquets et sauterelles. Elle sera également l'occasion, pour les personnes plus expérimentées, de recueillir plus d'informations sur une espèce particulière : le Dectique verrucivore.",
			lieu: "Billy-sur-Aisne (02)"
		},
		journee_marne_23aout: {
			date: "23/08/2014",
			desc: "Venez contribuer à l'amélioration des connaissances sur la faune des coteaux de la Marne, milieux extrêmement menacés et à protéger. Nous étudierons différents groupes, notamment les insectes (papillons, criquets, coccinelles...) et initierons les plus novices à la détermination de ces animaux.",
			lieu: "secteur Château-Thierry (02)"
		},
		stage_cocc_6sept: {
			date: "06/09/2014",
			desc: "stage et journée d’études Coccinelles",
			lieu: "Pays de Bray (60)"
		},
		stage_tvb_27sept: {
			date: "27/09/2014",
			desc: "Partez à la découverte de la vallée du Liger. Son histoire et ses paysages permettront d'illustrer ce que l'on nomme les réseaux de sites, leurs problématiques et les aménagements qui peuvent être envisagés. Pour que nos aménagements ne deviennent pas tous des obstacles pour la faune sauvage.",
			lieu: "vallée du Liger (ouest de la Somme)"
		}
	};
	
	sorties = ['stage_bd_5avril','stage_vipere_17mai','stage_chant_24mai','stage_retz_31mai','inv_nat_7au9juin','inv_nat_14juin_ours','stage_laon_21juin','stage_pap_comp_28juin','stage_rel_plante_insect','stage_etud_orthop_26juillet','journee_marne_23aout','stage_cocc_6sept','stage_tvb_27sept'];

	function add_infos() {
		for (var i=0; i<sorties.length; i++) {
			var e = $('#id_'+sorties[i]);
			var p = e.parent();
			p.append("date : "+data[sorties[i]].date+' <a href="javascript:;" class="bplus">plus d\'informations</a>');
			p.append("<div class=desc>"+data[sorties[i]].desc+"<div class=lieu>"+data[sorties[i]].lieu+"</div>");
		}
		$('.bplus').click(function () {
			$(this).toggle();
			var p = $(this).parent();
			p.children('.desc').toggle();
		});
	}
	add_infos();
	</script>
    </form>
{% include "foot.html" %}
